<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Verify Email for Sustainable Community</title>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Thanks for signing up, {{USER_NAME}}</h1>
    <h4>Please verify your email address by clicking the link below.</h4>
    <a href="{{CALL_TO_ACTION_URL}}"><strong>Verify Email</strong></a>
    <br />
    <h5>
      Thank you!
      <br />
      {{SENDER_NAME}}
    </h5>
  </body>
</html>
